/*section-rechts: padding 80px 0*/
/*section-links: padding 80 0*/
/*div-content: gap: 32*/

*{
    box-sizing: border-box;
}

#logoSvg{
    display: none;
}



body{
    margin: 0;
    padding: 0;

}

.sign-up {

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background: #FFF;

}

.section-links {
    padding: 30px 0px;
    /*padding: 80px 0px;*/
    /*padding: 0;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;


}




.section-rechts {
   /*padding: 30px 0px;*/
    padding: 80px 0px;
    flex: 1 0 0;

    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    width: 720px;
    height: 960px;

}










.div-form {
    width: 360px;
    height: 680px;
    gap: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}


.div-content{

    display: flex;
    width: 360px;

    flex-direction: column;
    align-items: flex-start;
    /*gap: 32px;*/
    gap: 80px;



}



.div-headerForm {
    width: 360px;
    height: fit-content;
    min-height: 568px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    /*margin-top: -7%;*/

}

.header{

}

.signUpTitle {
    align-self: stretch;
    color: #101828;

    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.72px;
    width: 360px;
    height: 44px;

    margin: 0;
    padding: 0;

}
p {
    align-self: stretch;
    color: #667085;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;



}

.div-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 12px;
    width: 360px;
    height: fit-content;
    min-height: 404px;
    margin-top: -3%;

}

.form {
    width: 360px;
    height: fit-content;
    min-height: 276px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    /* Andere stijlen kunnen hier worden toegevoegd */

}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

label {
    width: 47px;
    height: 20px;
    color: #344054; /* Vervangt var(--gray-700) */
    /* Tekst sm/Medium */
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    /* Andere stijlen kunnen hier worden toegevoegd */
}


input {
    background: #ffffff;
    border-radius: 8px;
    border-style: solid;
    border-color: #d0d5dd;
    border-width: 1px;
    padding: 10px 14px 10px 14px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);


    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */


}
.form-field p {
    color: #667085;
    margin-top: -1px;
    /* Text sm/Normal */
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.hidden-p{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    margin: 0;

}

#BtnGetStarted{
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid #7F56D9;
    background: #7F56D9;


    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    color: #FFF;



    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: -2%;
}

#BtnGetStarted:hover {
    cursor: pointer;
}

#BtnGoogle{
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    font-family: 'Inter', sans-serif;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;


    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);


    color: #344054;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

#BtnGoogle:hover {
    cursor: pointer;
}

form a{
    text-decoration: none;
    color: #6941C6;
}

span{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

span p {
    font-size: 14px;
    margin-top: 20px
}

.div-rechts-container{

    display: flex;
    padding: 0px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex: 1 0 0;
    align-self: stretch;



}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 512px;
    height: 472px;
}



.section-rechts h1{
    color: #FFF;
    text-align: center;

    /* Text xl/Medium */
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; /* 150% */

}

.section-rechts p {
    color: #E9D7FE;
    text-align: center;

    /* Text md/Medium */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    padding: 0 32px;

}
.section-rechts-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-top: -110px;
    padding: 0 62px;
    gap: 32px;
    margin-bottom: 0;
}









.paginatie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    padding: 0 16px;
}

.paginatie-dots {
    display: flex;
    gap: 16px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: #9E77ED;
}

.dot.selected {
    background-color: white;
}

.paginatie svg {
    cursor: pointer;
}

/* Stijl voor geselecteerde pijl */
#pijl-links.selected,
#pijl-rechts.selected {
    opacity: 0.5;
    /* Andere stijlen voor geselecteerde pijlen */
}


@media screen and (max-width: 1050px) {
    .section-rechts{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .section-rechts{
        display: none;
    }

}





/*Iphone 14 PROMAX*/
@media screen and (max-width: 480px) {
    .section-rechts {
        display: none;
    }

    body {
        display: flex;
        width: 100%;
        /* width: 100%; */
        height: 812px;
        /* height: 100%; */
        padding: 48px 27px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }


    .section-links {
        margin: 0;
        padding: 0;
    }

    .div-content {
        width: 100%;
        /*gap: 24px;*/
        gap: 26px;
        margin: 0 auto;
        padding: 0;
    }

    .div-form {
        width: 100%;
        margin: 0;
        padding: 0;

    }

    .div-headerForm {

        gap: 34px;
        /*gap: 32px;*/
    }

    .form {
        /*gap: 20px;*/
        gap: 24px;

    }

    .header p {
       margin-top: 6px;
    }

    p {
        font-size: 20px;
    }

    .signUpTitle {

        color: #101828;
        font-family: 'Inter', sans-serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 32px;
        margin: 0;

    }

    label {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
    }

    span {
        margin-top: -30px;
    }

    .form-field p {
        font-size: 18px;
    }

    input {
        width: 100%;
        font-size: 20px;
        padding: 14px 18px;

    }

    span p {
        font-size: 18px;

    }

    #BtnGoogle {
        font-size: 20px;
        padding: 14px 22px;
    }

    #BtnGetStarted {
        font-size: 20px;
        padding: 14px 22px;
    }


    /*img[src="../Images/Logo.png"] {*/
    /*    display: none; !* Verberg de afbeelding met de bron 'Images/Logo.png' *!*/
    /*}*/

    /*!* Toon de SVG-afbeelding in plaats daarvan *!*/
    /*img[src="Images/Logo.png"] + svg {*/
    /*    display: inline-block;*/

    /*}*/

    #logo{display: none}
    #logoSvg{display: block}


    /*iphone 12 PRO*/
    @media screen and (max-width: 400px) {

        .div-content {
            margin-left: -10px;
        }

        .div-headerForm {


            gap: 32px;
        }

        .div-content {

            gap: 24px;
        }

        .form {
            gap: 20px;


        }

        p {
            font-size: 16px;
        }

        .signUpTitle {

            font-size: 24px;

        }

        label {
            font-size: 18px;

        }

        input {
            width: 100%;
            font-size: 16px;
            padding: 10px 14px;
        }

        span p {
            font-size: 14px;

        }

        .form-field p {
            font-size: 14px;
        }

        #BtnGoogle {
            font-size: 16px;
            padding: 10px 18px;
        }

        #BtnGetStarted {
            font-size: 16px;
            padding: 10px 18px;
        }


        @media screen and (max-width: 370px) {

            .div-content {
                margin-left: -20px;
            }

            input {
                width: 90%;
            }

            #BtnGetStarted {
                width: 90%;
            }

            #BtnGoogle {
                width: 90%;
            }

            span {
                margin-left: -20px;
            }

        }

    }
}
