*{
    box-sizing: border-box;
}


body{
    padding: 0;
    margin: 0;
}

#main{
    display: flex;
    align-items: center;
    background: #FFF;

}

#links{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;



}

#rechts {
    position: relative;
    flex: 1 0 0;
    align-self: stretch;
    background: linear-gradient(45deg, #42307D 0%, #7F56D9 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}


#links-container{
    display: flex;
    padding: 0px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;


    margin-top: 5%;
    margin-bottom: -5%;

}

#links-content{
    display: flex;
    width: 360px;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    margin-top: -5px;

}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

h1{
    color: #101828;

    /* Display md/Semibold */
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
    letter-spacing: -0.72px;
    margin: 0;
    padding: 0;
}
h3{
    margin: 0;
    padding: 0;
    color: #667085;

    /* Text md/Normal */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
#links-div-headerAndForm{
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

#links-div-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;


}

.form-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

label{
    color: #344054;

    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.hidden-p{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    margin: 0;
    font-family: Inter;
    font-size: 14px;
}

input{
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;

    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.form-field-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 8px;
    flex: 1 0 0;
}

.checkbox-div{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;"
}

.form-field-checkbox input {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #D0D5DD;
    background: #FFF;
}

.form-field-checkbox label.remember-label {
    color: #344054;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.form-field-checkbox a.forgot-password {
    text-decoration: none;
    color: #6941C6;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.actions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

#BtnSignin{
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid #7F56D9;
    background: #7F56D9;

    color: #FFF;

    /* Text md/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

#BtnSignin:hover{
    cursor: pointer;
}

#BtnGoogle{
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    font-family: Inter;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;


    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);


    color: #344054;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

#BtnGoogle:hover {
    cursor: pointer;
}

.div-footer{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 4px;
    align-self: stretch;
}
.div-footer p{
    color: #667085;

    /* Text sm/Normal */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.div-footer a{
    color: #6941C6;

    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    text-decoration: none;
}

footer{
    display: flex;
    height: 96px;
    padding: 32px;
    align-items: flex-end;
    align-self: stretch;
}

footer p{
    color: #667085;

    /* Text sm/Normal */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.rechts-pattern img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}


.rechts-pattern-link img {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;

}

.div-rechts-container {
    display: flex;
    width: 720px;
    padding: 0px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;


    position: relative;
    z-index: 1;
}

.rechts-divImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 432px;
    height: 328px;



}



.div-rechts-text{
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.div-rechts-text h3{
    align-self: stretch;
    color: #FFF;
    text-align: center;

    /* Text xl/Medium */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}

.div-rechts-text p{
    align-self: stretch;
    color: #E9D7FE;
    text-align: center;

    /* Text md/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    margin: 0;
    padding: 0;
}



.paginatie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    padding: 0 16px;
}

.paginatie-dots {
    display: flex;
    gap: 16px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: #9E77ED;
}

.dot.selected {
    background-color: white;
}

.paginatie svg {
    cursor: pointer;
}

/* Stijl voor geselecteerde pijl */
#pijl-links.selected,
#pijl-rechts.selected {
    opacity: 0.5;
    /* Andere stijlen voor geselecteerde pijlen */
}




@media screen and (max-width: 1050px) {
    #rechts{
        display: none;
    }

}




@media screen and (max-width: 768px) {
    #rechts{
        display: none;
    }

}






@media screen and (max-width: 480px) {

    #rechts{
        display: none;
    }


}